<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251357511633-tfq9effkai1bb524e4hkjr855i5lkgkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251357511633-tfq9effkai1bb524e4hkjr855i5lkgkq</string>
	<key>API_KEY</key>
	<string>AIzaSyAVLx7V6N8WhAMM4d99DoLjwPcMT6pkKFs</string>
	<key>GCM_SENDER_ID</key>
	<string>251357511633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waste.manager.app</string>
	<key>PROJECT_ID</key>
	<string>waste-manager-cf6b0</string>
	<key>STORAGE_BUCKET</key>
	<string>waste-manager-cf6b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251357511633:ios:c59814adb59c56ed686af0</string>
</dict>
</plist>